body {
}
h1 {
 color: #483d8b;
}
h3 {
 color: darkmagenta;
}
h4{
color: black;
}
.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}
Try it Yourself »
